div#header {
      text-align: center;  
      background-color:crimson;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:darkgrey  

}
body {
    
        background-image: url(https://thequeenbeandotblog.files.wordpress.com/2019/05/roasts.jpg?w=2800); /* The image used */
        background-color: black; /* Used if the image is unavailable */
        height: 1200px; /* You must set a specified height */
        width: auto;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        
  } 
  {
      text-align: center;  
      background-color:crimson;
      font-family:'Courier New', Courier, monospace;
      color:darkgrey  

  }
  body a{
        text-align: center; 
        color: blue;
        
       
        
        
        
        
  }
div#Chem{
      float: left;
      width: 25%;
      text-shadow: 2px 2px 4px blue;
      text-align: center;
      margin: auto;
      color: whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
}
ul {
      text-align: left;
}
div#Aero{
      float: left;
      width: 25%;
      text-shadow: 4px 4px 6px green;
      text-align: center;
      margin: auto;
      color:whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
}   
div#French{
      float: left;
      width: 25%;
      text-shadow: 2px 2px 4px black;
      text-align: center;
      margin: auto;
      color: whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
} 
div#Cold{
      float: left;
      width: 25%;
      text-shadow: 2px 2px 4px lightblue;
      text-align: center;
      margin: auto;
      color: whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
}    
  