div#header {
      text-align: center;  
      background-color:black;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:darkgrey;
      width: auto;
      border-style: inset;

}
body {
    
        background-image: url(https://thequeenbeandotblog.files.wordpress.com/2019/05/roasts.jpg?w=2800); /* The image used */
        background-color: black; /* Used if the image is unavailable */
        height: 1200px; /* You must set a specified height */
        width: auto;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
} 
div#Chem{
      float: left;
      width: 25%;
      text-shadow: 2px 2px 4px blue;
      text-align: center;
      margin: auto;
      color: whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
      font-family:'Courier New', Courier, monospace;
}
ul {
      text-align: left;
}
div#Aero{
      float: left;
      width: 25%;
      text-shadow: 4px 4px 6px green;
      text-align: center;
      margin: auto;
      color:whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
      font-family:'Courier New', Courier, monospace;
}   
div#French{
      float: left;
      width: 25%;
      text-shadow: 2px 2px 4px black;
      text-align: center;
      margin: auto;
      color: whitesmoke;
      padding-left: 50px;
      padding-right: 50px;
      font-family:'Courier New', Courier, monospace;
} 
a{
      color:snow;
}
div#bott{
      color: snow;
      

}